extends layout

block content
  div(class='container height-100')
    div(class='header clearfix')
      nav
        h3(class='text-muted')= title
    div#page_content(class='row height-100')
      div#col_form(class='col-md-4')
        form
          div(class='form-group')
            label(for='input_user') User name
            input#input_user(type='text' class='form-control' placeholder='Enter user name')
          div(class='form-group')
            label(for='input_msg') Message
            textarea#input_msg(class='form-control' placeholder='Enter a message' rows='3')
          div(class='form-group text-right')
            button#btn_send(class='btn btn-primary')
              span(class='glyphicon glyphicon-send')
              span  Send
            
      div#col_msgs(class='col-md-8 height-100')
        div#row_msgs(ng-repeat='msg in msgs' class='row')
          div(class='col-sm-2 user') {{msg.user}}
          div(class='col-sm-10 msg') {{msg.msg}}
        