doctype html
html(ng-app='chat_demo')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  body(ng-controller='msg_list_controller')
    block content
    script(src='/js/jquery-1.11.2.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/index.js')
    script(src='/angular/angular.min.js')
    script(src='/angular/controllers.js')