body,
html{
	max-height: 100%;
}

textarea{
	resize: vertical;
}

#page_content{
	margin-top: 20px;
}

.height-100{
	max-height: 100%;
}

#col_form{
	border-right: 1px solid #ddd;
	padding: 10px;
}

#col_msgs{
	padding: 10px;
	padding-left: 20px;
}

#row_msgs{
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.user{
	font-weight: bold;
}